VITE_SUPABASE_URL=https://ybbujonwhrbhjnecsqjm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_lmYkyevgmz6_qPCheaFsAQ_TEA7U6K6

# Email Configuration (Nodemailer / Gmail SMTP)
ADMIN_EMAIL=passnojugaadd@gmail.com
SMTP_USER=passnojugaadd@gmail.com
SMTP_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
